

.button1 {
position: realitive;
height: 350px;
width: 350px;
border:0px rgb(0, 0, 0);
border-radius: 50%;
background-color: rgb(255, 0, 0);
box-shadow:10px 10px rgb(152, 146, 146);
left: 815px;
bottom: 410px;
}

/*.button1 move{

@keyframes buttonMove{
    0%{transform: rotate(0deg)
        translateX(350px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
        translateX(360px) rotate(360deg) ;
    }
}*/

.button2 {
position: relative;
background-color: rgb(234, 0, 255);
height: 250px;
width: 250px;
left: 115px;
bottom: -50px;
}

